// Déclaration de variables
$color-primary: #68aad7;
$color-secondary: #1f3912;
$color-success: #02a802;
$color-warning: #a36a00;
// Intéressant de créer des variables pour nos breakpoints
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;