

ul,nav {
    list-style: none;
}

/* header*/
 header {
    background: linear-gradient(black);
    position: cover;
    

    
     
 }

 .container{
    max-width: 1100px;
    margin: 0 auto
   
}

header img{
    width:100px


}

nav {
    
    float: left;

}

